accelerate==0.23.0
datasets==2.14.5
Flask==2.0.3
numpy==1.19.5
openpyxl==3.0.9
pandas==1.1.5
peft==0.5.0
PyYAML==6.0.1
requests==2.18.4
torch==1.10.0
tqdm==4.62.2
transformers==4.17.0
waitress==2.0.0
wandb==0.15.3